{% extends 'base.html' %}
{% comment %} {% extends '../../../templates/base.html' %} {% endcomment %}


{% block page_title %}
    All Challenges
{% endblock page_title %}



{% block content %}
    {% comment %} {% include 'challenges/includes/header.html' with active_page="index" %} {% endcomment %}
    {% include 'challenges/includes/header.html' %}
    <ul>
        {% for month in months %}
            <li><a href="{% url 'month-challenge' month %}">{{month | title}}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}
